# Python
__pycache__/
*.py[cod]
*.egg-info/
env/
.venv/

# VSCode
.vscode/

# Code History
.history/

# API Key and Data
config.json
coordinates.json

# State files
data/

# Exported files
export/

# App Builder
Builder/
